{% extends 'base.html' %}
{% block content %}
	
	
	<div class="container">
		<div class="column"> 
			<div class="col-md-12">

				<div class="d-flex flex-column justify-content-md-center align-items-center vh-100 ">
					<div class="h1"> Web Malicious</div>
					<nav class="nav">
						<a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
						<a class="nav-link" href="{{ url_for('result_all') }}">Previous Results</a>
					</nav>

					<div class="mt-5 col-md-8">

						<div class="alert alert-warning alert-dismissible fade show" id="alert" role="alert" style="display: none;">
						  Please enter a website for scanning...  
						</div>
						<div class="alert alert-danger alert-dismissible fade show" id="error_alert" role="alert" style="display: none;">
						  Something went wrong! Please try again...
						  
						</div>
						<div class="input-group mb-3">
							<input type="text" class="form-control  border" id="website" placeholder="Website" aria-label="Website" aria-describedby="button-addon2">
							<button class="btn border btn-primary" type="button" id="search-button">Check?</button>
						</div>
					</div>
				</div>
			</div>
			
		</div>


		<!-- Modal -->
		<div class="modal fade" id="resultModal" tabindex="-1" role="dialog"  aria-labelledby="resultModal" role="dialog"  aria-hidden="true">
		  <div class="modal-dialog  modal-lg modal-dialog-centered" role="document" data-backdrop="static">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Result</h5>
				 
			  </div>
			  <div class="modal-body">

			  	<div>
			  		
				<div class="d-flex flex-column">
					<div class="">Domain: <span id="domain"></span></div>
					<div class="">Verdict: <span id="verdict"></span></div>
					

				</div>
				<div class="">
					<table id="verdict_table" class="table table-striped mt-5 text-left">
	                     <thead>
	                        <tr>
	                          <th scope="col">#</th>
	                          <th scope="col">Original domain</th>
	                          <th scope="col">Fake domain</th>
	                          <th scope="col">Content similarity</th>
	                          <th scope="col">Domain similarity</th>
	                          <!-- <th scope="col">Image similarity</th> -->
	                          <th scope="col">Verdict</th>
	                        </tr>
	                      </thead>
	                      <tbody>
	 
	                       
	                      </tbody>
	                </table>		 
				</div>
				
			  	</div>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-dismiss="modal">Close</button>
			  </div>
			</div>
		  </div>
		</div>

	</div>
{% endblock %}